# Mac
.DS_Store

# Node
/node_modules

# Logs
*.log

# Environment
.env

# WordPress config
wp-config.php

# WordPress core
/wp-admin/
/wp-includes/

# Uploads (archivos de usuarios)
/wp-content/uploads/

# Cache
/wp-content/cache/

# Otros temporales
*.zip
*.tar.gz
*.bak